<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>
            This site was created by Jem Alvarez. It uses data from
            <a href="https://www.mapbox.com/" target="_blank">mapbox.com</a>
            and
            <a href="https://darksky.net/" target="_bank">darksky.net</a>
        </p>
        <img class="portrait" src="/img/img.png">
    </div>

    {{>footer}}
</body>

</html>